In [1]:
import pandas as pd
df_tsv = pd.read_csv("/content/2203A51723 - Sheet1.tsv")
print(df_tsv)

  age\theight
0     12\t115
1     13\t130
2     46\t167
3     20\t145
4     34\t153

In [2]:
df_csv = pd.read_csv("/content/2203A51723- Sheet1.csv")
print(df_csv)

   age  height
0   15     115
1   18     130
2   35     167
3   23     145
4   34     153

In [3]:
df_xlsx = pd.read_excel("/content/2203A51723.xlsx")
print(df_xlsx)

   age  height
0   12     115
1   13     130
2   46     167
3   20     145
4   34     153

In [4]:
url = "https://github.com/nithin780/AIML_TASK_3-1-"
df_url = pd.read_csv(url,'\t')
print(df_url)

<ipython-input-4-6916ef05e477>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df_url = pd.read_csv(url,'\t')

                                        <!DOCTYPE html>
0                                                 <html
1                                             lang="en"
2       data-color-mode="auto" data-light-theme="lig...
3       data-a11y-animated-images="system" data-a11y...
4                                                     >
...                                                 ...
1269                                             </div>
1270      <div id="js-global-screen-reader-notice" c...
1271      <div id="js-global-screen-reader-notice-as...
1272                                            </body>
1273                                            </html>

[1274 rows x 1 columns]